.chat-page-container {
    width: 100%;
    height: 100%;

    .conversation-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        height: 100dvh;

        .messages-container {
            display: flex;
            margin-top: auto;
            flex-direction: column;
            flex-grow: 10000;
            padding: 1%;
            overflow-y: auto;

            .message {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-align: left;
                white-space: pre-line;
                margin-bottom: 4px;
                border-top: 1px solid var(--text-color);
                padding-top: 4px;

                &:first-child {
                    border-top: 0;
                    padding-top: 0;
                }

                .markdown-render {
                    pre {
                        white-space: pre-wrap;
                        background-color: hsl(0, 0%, 67%);
                        border-radius: 14px;
                        padding: 8px;
                        color: var(--text-color-white)
                    }
                }
            }
        }


        .message-input-container {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding: 0.5%;
            gap: 24px;
            

            .prompt-input {
                height: auto;
                min-height: 10px;
                max-height: 40px;
                border-radius: 8px;
                resize: none;
                padding: 10px 10px;
            }

            .file-selector-container {
                display: flex;
                flex-direction: column;
                

                .file-selector-input {
                    display: none;
                }

                .file-selector-label {
                    padding: 0px 4px;
                    cursor: pointer;
                    .attach-icon {
                        color: var(--text-color);
                    }
                }
            }
            .clear-icon {
                display: flex;
                flex-direction: column;
                width: 32px;
                height: auto;
                align-items: center;
                padding-bottom: 5px;
                
                
                cursor: pointer;

                
            }

        }
    }
}
